<ion-header no-border>
  <ion-toolbar color="secondary">
    <ion-buttons  slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
  <ion-searchbar animated
                 (ionChange)="buscar($event)"
                 placeholder="Buscar"></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let usuario of usuarios | filtro: texto: 'nombre'">
      <ion-item lines="inset" button [routerLink]="['/usuario', usuario.id, '1']">
        <ion-label>
          <h2>{{ usuario.nombre+" "+usuario.apellido }}</h2>
          <h3>{{ usuario.numeroControl }}</h3>
          <p>{{ usuario.email }}</p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
