<ion-header no-border>
  <ion-toolbar color="secondary">
    <ion-buttons  slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
    <ion-title>Salas</ion-title>
  </ion-toolbar>
  <ion-searchbar animated
                 (ionChange)="buscar($event)"
                 placeholder="Buscar"></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let sala of salas| filtro: texto: 'nombre'">
      <ion-item lines="inset" button [routerLink]="['/sala-edicion', sala.id]">
        <ion-label>
          <h2>{{ sala.nombre }}</h2>
          <h3>Capacidad: {{ sala.capacidad }}</h3>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success"  [routerLink]="['/sala','']" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
