<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item *ngIf="usuario">
      <ion-input required tupe="text" placeholder="nombre" [(ngModel)]="usuario.nombre"></ion-input>
    </ion-item>
    <ion-item *ngIf="usuario">
      <ion-input required tupe="text" placeholder="apellido" [(ngModel)]="usuario.apellido"></ion-input>
    </ion-item>
    <ion-item *ngIf="usuario">
      <ion-input required tupe="text" placeholder="curp" [(ngModel)]="usuario.curp"></ion-input>
    </ion-item>
    <ion-item *ngIf="usuario">
      <ion-input required tupe="text" placeholder="numeroControl" [(ngModel)]="usuario.numeroControl"></ion-input>
    </ion-item>
    <ion-item *ngIf="usuario">
      <ion-input required tupe="text" placeholder="email" [(ngModel)]="usuario.email"></ion-input>
    </ion-item>
    <ion-item >
      <ion-input required tupe="text" placeholder="confirmar email" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item >
      <ion-input required tupe="password" placeholder="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
  </ion-list>
    <ion-button expand="full" color="success" (click)="onRegister()">Gurdar</ion-button>
    <ion-button expand="full" routerLink="/login">Login</ion-button>
</ion-content>
