<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Opciones de usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="full" routerLink="/solicitudes-usuario">Mis Solicitudes</ion-button>
  <ion-button expand="full" routerLink="/reservar-sala">Reservar Sala</ion-button>
  <ion-button expand="full" routerLink="/cursos-consulta">Material para cursos</ion-button>
  <ion-button expand="full" color="medium" (click)="onLogout()">Logout</ion-button>
</ion-content>
