<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons  slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
    <ion-title>Reservar Sala</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-datetime [(ngModel)]="fecha"
                  placeholder="yyyy-mm-dd"
                  display-format="YYYY MMMM DD"
                  min="2021-01-01"
                  ></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Salas</ion-label>
    <ion-select [(ngModel)]="sala">
      <ion-select-option *ngFor="let sala of salas" [value]="sala">
        {{sala.nombre + ' ' + sala.capacidad}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="full" (click)="onFindSolicitudes()">Buscar Disponibilidad</ion-button>
  <ion-list>
    <ion-item-sliding *ngFor="let solicitud of solicitudes">
      <ion-item lines="inset" button [routerLink]="['/usuario', solicitud.id]">
        <ion-label>
          {{ solicitud.inicio+' - '+solicitud.termino+'      '+ solicitud.nombre}}
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success"  [routerLink]="['/solicitud', fecha, sala.id]" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
