<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons  slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
    <ion-title>Solicitud Reservar Sala</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list lines="full">
      <ion-item *ngIf="solicitud">
        <ion-label><b>Fecha:</b></ion-label>
        <ion-input required tupe="text" placeholder="Fecha" [(ngModel)]="solicitud.fecha"></ion-input>
      </ion-item>
      <ion-item *ngIf="solicitud">
        <ion-label><b>Sala:</b></ion-label>
        <ion-input required tupe="text" placeholder="Sala" [(ngModel)]="solicitud.espacio"></ion-input>
      </ion-item>
      <ion-item *ngIf="solicitud">
        <ion-label><b>Nombre:</b></ion-label>
        <ion-input required tupe="text" placeholder="Nombre" [(ngModel)]="solicitud.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><b>Hora inicio:</b></ion-label>
        <ion-datetime disabled displayFormat="HH:mm" placeholder="HH:mm" [(ngModel)]="horaInicio"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label><b>Hora termino:</b></ion-label>
        <ion-datetime displayFormat="HH:mm" [hourValues]="horas" minuteValues="0,30" placeholder="HH:mm" [(ngModel)]="horaTermino"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label><b>Proposito:</b></ion-label>
        <ion-input  [(ngModel)]="solicitud.proposito"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><b>Materiales:</b></ion-label>
        <ion-textarea  [(ngModel)]="solicitud.materiales"></ion-textarea>
      </ion-item>
  </ion-list>
  <ion-button expand="full" color="success" (click)="validateSolicitud()">Guardar</ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  </ion-fab>
</ion-content>

