<ion-header no-border>
  <ion-toolbar color="secondary">
    <ion-buttons  slot="start">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
    <ion-title>Material para cursos</ion-title>
  </ion-toolbar>
  <ion-searchbar animated
                 (ionChange)="buscar($event)"
                 placeholder="Buscar"></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let curso of cursos| filtro: texto: 'nombre'">
      <ion-item lines="inset" button [routerLink]="['/curso', curso.id]">
        <ion-label>
          <h2>{{ curso.nombre }}</h2>
          <p>Descripción: {{ curso.descripcion }}</p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success"  [routerLink]="['/curso','']" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>